#anchor_pan1{
	
-fx-background-color:red;

}
#anchor_top_pane{
	
	-fx-background-color:lawngreen;
}
#piechart_1{
    
    -fx-background-color:lavender;
}
#anchor_pane{
        -fx-background-color:#5a3375;

}
#anchor_batom{
            -fx-background-color:#0D47A1;

    
}
#bt_add{
    
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;  
}
#bt_detials{
    
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;  
}
#bt_update{
    
   -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
    
}
#bt_Passwordchenge{
    
    -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
     
}
#bt_adminsecurity{
   
    -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
     
    
}
#menu_Productdetials{
    
  -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
    -fx-text-fill: ffffff;
    
}
#menu_totalAmount{
   -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
    -fx-text-fill: ffffff;
      
}
#menu_areachart{
    
   -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
    -fx-text-fill: ffffff;
      
}
#rd_security{
   -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
       
    
}    
#bt_productdetials{
     -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
      
    
}
#bt_newstock{
 
   -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
    
    
}
#bt_admin{
    
  -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  
    -fx-font-size: 18pt;

}
#bt_deletebills{
    
     -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;  

    
}
#bt_Security{
  -fx-background-color: transparent;
   -fx-border-radius: 10;
   -fx-background-radius: 10;     
}
