#anchor_pane1{
	
	-fx-background-color: red;
}
#anchor_top_pane{
   
    -fx-background-color: lawngreen;
}
#piechart_1{
    
        -fx-background-color: lavender;

}
#piechart_2{
    
        -fx-background-color: lavender;

}
#piechart_3{
    
        -fx-background-color: lavender;

}